<% @skills.each do |skill| %>
<%= skill.name %>
<%= skill.price %>
<%= skill.location %>
<%= skill.category %>
<%= skill.description %>
<%= skill.user_id %>
<% end %>


<div class="banner" style="background: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('images/trailerpark.jpg');">
<div class="banner-content">
<h1>可以么</h1>
<p>Changing the world one skill at a time</p>
<a class="btn-treehouse btn-green">click your ass here</a>
</div>
</div>


