<table>
  <tbody>
    <% @skills.each do |s| %>
      <tr>
        <td><%= s.name %></td>
        <td><%= s.price %></td>
        <td><%= s.location %></td>
        <td><%= s.category %></td>
        <td><%= s.description %></td>
        <td><%= s.user_id %></td>

      </tr>
    <% end %>

  </tbody>
</table>
