<div class="show-container">
  <div class="show-header">
    <div class="show-profile-picture">
      <%= image_tag current_user.facebook_picture_url, class: "avatar-huge" %>
    </div>
    <div class="show-title">
      <h1><%= @skill.name.capitalize %></h1>
      <p><%= @skill.description.capitalize %></p>
    </div>
  </div>
  <div class="show-body">
    <div class="show-picture">
      <% @skill.photos.each do |photo| %>
        <%= cl_image_tag photo.path, width: 1200, height: 600, crop: :fill %>
      <% end %>
    </div>
    <div class="show-info">
      <h4>$<%= @skill.price %></h4>
      <p>Price</p>
      <h4> <%= @skill.location %></h4>
      <p>Location</p>
      <div class="show-info-buttons">
        <%= link_to t(".top_call_to_action", default: "Book!"), new_user_session_path, class: "btn-book btn btn-success" %>
        <%= link_to t(".top_call_to_action", default: "Contact"), new_user_session_path, class: "btn-contact btn btn-success" %>
        <%= link_to t(".top_call_to_action", default: "Share"), new_user_session_path, class: "btn-share btn btn-success" %>
      </div>
    </div>
  </div>
</div>





