<div class="wrapper-grey">
  <div class="container">
    <div class="row">
      <div class="col-xs-3">
        <div id="profile-card" class="text-center">
          <% if current_user.facebook_picture_url %>
          <%= image_tag current_user.facebook_picture_url, class: "avatar-huge" %>
          <p><%= current_user.given_name %> <%= current_user.family_name %></p>
          <% else %>
          <%= image_tag "profile-big.svg", class: "avatar-huge" %>
          <% end %>
          <%= link_to t(".top_call_to_action", default: "Edit profile"), edit_user_registration_path, class: "btn btn-profile" %>
        </div>
      </div>
      <div class="col-xs-9">
        <div class="booking-displayer">
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="<%= params[:current_tab] == "skills" || params[:current_tab].nil? ? 'active' : '' %>"><a href="#skills" aria-controls="home" role="tab" data-toggle="tab">Skills</a></li>
            <li role="presentation" class="<%= params[:current_tab] == "bookings" ? 'active' : '' %>"><a href="#bookings" aria-controls="profile" role="tab" data-toggle="tab">Bookings</a></li>
            <li role="presentation" class="<%= params[:current_tab] == "requests" ? 'active' : '' %>"><a href="#requests" aria-controls="messages" role="tab" data-toggle="tab">Requests</a></li>
          </ul>
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane <%= params[:current_tab] == "skills" || params[:current_tab].nil? ? 'active' : '' %>" id="skills">
              <% current_user.skills.each do |skill| %>
                <div class="product">
                  <% if skill.photos.any? %>
                    <%= cl_image_tag skill.photos.first.path, class: "product-image hidden-xs hidden-sm hidden-md" %>
                  <% else %>
                  <%= image_tag "img-placeholder.svg", class: "product-image hidden-xs hidden-sm hidden-md" %>
                  <% end %>
                  <div class='product-body'>
                    <h3><%= skill.name %></h3>
                    <p><%= skill.description.slice(0..23).concat('...') %></p>
                  </div>
                  <div class='product-price'>
                    <p><strong>Price:</strong> $ <%= skill.price %></p>
                  </div>
                  <ul class="list-inline product-controls product-controls-hidden hidden-sm hidden-xs">
                    <li><%= link_to skill_path(skill) do %>
                          <i class="fa fa-eye"></i>
                        <% end %></li>
                    <li><%= link_to edit_skill_path(skill) do %>
                          <i class="fa fa-pencil"></i>
                        <% end %></li>
                    <li><%= link_to skill_path(skill), method: :delete do %>
                          <i class="fa fa-trash"></i>
                        <% end %></li>
                  </ul>
                </div>
              <% end %>
            </div>
            <div role="tabpanel" class="tab-pane <%= params[:current_tab] == "bookings" ? 'active' : '' %>" id="bookings">
              <% current_user.bookings.each do |booking| %>
                <div class="product">
                  <% if booking.skill.photos.any? %>
                    <%= cl_image_tag booking.skill.photos.first.path, class: "product-image hidden-xs hidden-sm hidden-md" %>
                  <% else %>
                  <%= image_tag "img-placeholder.svg", class: "product-image hidden-xs hidden-sm hidden-md" %>
                  <% end %>
                  <div class='product-body'>
                    <h3><%= booking.skill.name %></h3>
                    <p><%= booking.skill.description %></p>
                  </div>
                  <div class='product-price'>
                    <p><strong>Price:</strong> $ <%= booking.skill.price %></p>
                  </div>
                  <div class='product-status text-center <%= badge_class(booking) %>'>
                    <p><%= booking.status.capitalize %></p>
                  </div>
                </div>
              <% end %>
            </div>
            <div role="tabpanel" class="tab-pane <%= params[:current_tab] == "requests" ? 'active' : '' %>"" id="requests">
              <% current_user.requests.where(status: "pending").each do |booking| %>
                <%= render 'bookings/request', booking: booking %>
              <% end %>
              <% current_user.requests.where(status: "accepted").each do |booking| %>
                <%= render 'bookings/request', booking: booking %>
              <% end %>
              <% current_user.requests.where(status: "rejected").each do |booking| %>
                <%= render 'bookings/request', booking: booking %>
              <% end %>
            </div>
            </div>
          </div>
        </div>
      </div>
