<div id="hero">
  <div class="header text-center">
    <h1>LET'S CHANGE THE WORLD<br>ONE SKILL AT A TIME</h1>
    <div class="search-form text-center">
      <%= form_tag(skills_path, method: :get, class: "form-inline") do %>
      <%= text_field_tag :search, nil, class: "form-control", id: "home-input" %>
      <%= submit_tag 'Search', class: "btn btn-success" %>
      <% end %>
    </div>
  </div>
</div>

<div class="wrapper">
  <div class="title text-center">
    <h2>EXPLORE THE CATEGORIES</h2>
    <h4>Get inspired by KEYIME</h4>
  </div>
  <div class="cards">
    <div class="container text-center">
      <div class="row top-buffer">
        <div class="col-xs-12 col-sm-6 col-lg-3">
          <div class="card-container">
            <a href="skills?search=Design">
              <p>Graphic design</p>
              <%= image_tag("graphic_design.jpg") %>
            </a>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-3">
          <div class="card-container">
            <a href="skills?search=Marketing">
              <p>Digital Marketing</p>
              <%= image_tag("marketing.jpg") %>
            </a>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-3">
          <div class="card-container">
            <a href="skills?search=Writing">
              <p>Writing & Translation</p>
              <%= image_tag("writing.jpg") %>
            </a>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-3">
          <div class="card-container">
            <a href="skills?search=Video">
              <p>Video Animation</p>
              <%= image_tag("animation.jpg") %>
            </a>
          </div>
        </div>
      </div>
      <div class="row top-buffer">
        <div class="col-xs-12 col-sm-6 col-lg-3">
          <div class="card-container">
            <a href="skills?search=Music">
              <p>Music & Video</p>
              <%= image_tag("music.jpg") %>
            </a>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-3">
          <div class="card-container">
            <a href="skills?search=Programming">
              <p>Programming & Tech</p>
              <%= image_tag("coding.jpg") %>
            </a>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-3">
          <div class="card-container">
            <a href="skills?search=Bussiness">
              <p>Bussiness</p>
              <%= image_tag("bussiness.jpg") %>
            </a>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-3">
          <div class="card-container">
            <a href="skills?search=Lifestyle">
              <p>Fun & Lifestyle</p>
              <%= image_tag("fun.jpg") %>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="home-separator">
    <div class="left-container text-center hidden-xs">
      <%= image_tag("illustration.svg") %>
    </div>
    <div class="right-container text-center">
      <h3>SUBSCRIBE NOW!</h3>
      <p>Learn more about all the cool new skills we have every week!</p>

      <!-- Begin MailChimp Signup Form -->
      <div id="mc_embed_signup">
        <form action="//herokuapp.us15.list-manage.com/subscribe/post?u=da7de0cd9a8fa3864e37f4b53&amp;id=1b18a305f5" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <div id="mc_embed_signup_scroll">
            <!--       <h2>Subscribe to our mailing list</h2> -->
            <!--     <div class="indicates-required"><span class="asterisk">*</span> indicates required</div> -->
            <div class="mc-field-group email-form-wrapper">
              <!--       <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span> -->
            </label>
            <input type="email" value="" name="EMAIL" placeholder="Enter your email" class="required email email-signup" id="mce-EMAIL">
          </div>
          <div id="mce-responses" class="clear">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
          </div>
          <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_da7de0cd9a8fa3864e37f4b53_1b18a305f5" tabindex="-1" value=""></div>
          <input type="submit" value="Subscribe" name="subscribe" id="btn-subscribe" >
        </div>
      </form>
    </div>

    <!--End mc_embed_signup-->
  </div>
</div>

<div class="recommended-block">
  <div class="title text-center">
    <h2>STAFF PICKED</h2>
    <h4>Skills we recommend to you</h4>
  </div>
  <div class="container cards-show">
    <div class="row">
        <% @skills.limit(12).each do |skill| %>
          <div class="col-xs-3">

            <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= skill.photos.any? ? cl_image_path(skill.photos.first.path, width: 750, height: 450, crop: :fill) : ''%>);">
              <div class="card-category"><strong>$ <%= skill.price %></strong></div>
              <div class="card-description">
                <h2><%= skill.name %></h2>
                <p><%= skill.description.slice(0..23).concat('...') %></p>
              </div>
              <% if skill.user.facebook_picture_url %>
              <%= image_tag skill.user.facebook_picture_url, class: "card-user avatar" %>
              <% else %>
              <%= image_tag "profile.png", class: "card-user avatar" %>
              <% end %>
              <%= link_to "", skill_path(skill), class: "card-link" %>
            </div>
          </div>

        <% end %>
    </div>
  </div>
</div>
<%= render "shared/footer" %>


