<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">
    <title>Keyime</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>
  <body>
    <%= render "shared/navbar" %>
    <p class="notice" style="position: fixed"><%= notice %></p>
    <p class="alert" style="position: fixed"><%= alert %></p>
    <%= yield %>
    <%= javascript_include_tag 'application' %>


    <%= javascript_include_tag "https://maps.google.com/maps/api/js?key=#{ENV["GOOGLE_CLIENT_KEY"]}" %>


    <%= javascript_include_tag "https://cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/markerclusterer/src/markerclusterer_compiled.js" %>
    <%= javascript_include_tag "https://cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js" %>


    <%= yield(:after_js) %>
    <%= cloudinary_js_config %>
    <%= render "shared/footer" %>
  </body>
</html>
